Support brotli, flate content-encoding for upstream and downstream servers, including re-encoding.

## Why?
We currently pass through content-encoding: `identity` and `gzip`, and also re-encode `identity` to `gzip` in downstream direction. All other content-encoding types are just passed through. We lack the ability to re-encode content other than `gzip` and don't support `br`, and `deflate` downstream.

## What?
The server should support encoding and decoding of these content-encoding types and switch between them as requested by downstream clients, including re-encoding upstream data as needed, while maximising throughput and performance.

| Spec | HTTP Content-Encoding | Package |  Notes | 
|-|-|-|-|
[RFC1950](https://datatracker.ietf.org/doc/html/rfc1950)/[RFC1951](https://datatracker.ietf.org/doc/html/rfc1951) | "deflate, x-deflate" |  https://github.com/klauspost/compress (optimised) |  this is only 0.015% of sites and not relevant for APIs. Drop support| 
| [RFC1952](https://datatracker.ietf.org/doc/html/rfc1952) | "gzip, x-gzip" |  https://github.com/klauspost/compress (optimised) | Gzip is 10x faster to encode than Brotli in Go. It's also not saving that much space in comparison, so give GZIP preference when both are possible |
| [RFC7932](https://datatracker.ietf.org/doc/html/rfc7932) | "br" | https://github.com/andybalhom/brotli | [Brotli compression tester](https://tools.paulcalvano.com/compression.php) |

## How?
Support content encoding in  `proxyhandler` `abouthandler` and `sendResponseCodeNNN` (standard error responses). `acmehandler` does not support content encoding other than identity and `websockethandler` does not support HTTP.

### Proxy Responses
| Handler | DS Accept-Encoding | US Content-Encoding | DS Content Encoding | Notes |  Tested |
|-|-|-|-|-|-|
| `ProxyHandler` |  n/a  | identity | identity | Makes no assumptions, sends identity  |  ✅  |
| `ProxyHandler` |  n/a  | n/a | identity | Sets content-encoding to identity in j8a  |  ✅  |
| `ProxyHandler` | identity | identity | identity |  proxies upstream identity content-encoding header |  ✅  |
| `ProxyHandler` | identity | n/a | identity | Sets content-encoding to identity in j8a |  ✅  |
| `ProxyHandler` | identity, gzip  | identity | gzip | prefers gzip over identity, encodes using internal gzip encoder | ✅   |
| `ProxyHandler` |  *  | identity | gzip | prefers gzip over identity, encodes using internal gzip encoder  |  ✅  |
| `ProxyHandler` |  *  | n/a | gzip | prefers gzip over identity, encodes using internal gzip encoder  |  ✅  |
| `ProxyHandler` | gzip, x-gzip  | identity | gzip | encodes using internal gzip encoder |  ✅  |
| `ProxyHandler` | br  | identity | br |  encodes using internal brotli encoder |  ✅  |
| `ProxyHandler` | deflate | identity | identity | no response, sends a 406 unsupported content encoding | ✅  |
| `ProxyHandler` |  anv valid | gzip | gzip | Preference for passthrough of upstream encoding | ✅ |
| `ProxyHandler` |  anv valid | brotli | brotli | Preference for passthrough of upstream encoding | ✅ |
| `ProxyHandler` |  anv valid | custom | custom | Preference for passthrough of upstream encoding | ✅ |

### Standard Responses
| Handler | DS Accept-Encoding | DS Content Encoding | Notes |  Tested |
|-|-|-|-|-|
| `AboutHandler` |  n/a or *  | identity | default because we often use about from bash cli and it's terminal friendly. Not relevant for programmatic clients | ✅ |
| `AboutHandler` | identity  | identity |  | ✅ |
| `AboutHandler` | identity, gzip  | prefers identity |  | ✅  |
| `AboutHandler` | gzip, x-gzip  | gzip |  | ✅   |
| `AboutHandler` | br  | br |  |  ✅  |
| `AboutHandler` | deflate |  identity | no response, sends a 406 unsupported content encoding |  ✅  |
| `sendResponseCodeNNN` |  n/a or *  | identity | Preference for identity for no supplied Accept-Encoding header. Assumes error codes may be tested from cli which doesn't easily support compression  | ✅ |
| `sendResponseCodeNNN` | identity  | identity |  | ✅ |
| `sendResponseCodeNNN` | identity, gzip  | prefers identity |  |  ✅ |
| `sendResponseCodeNNN` | gzip, x-gzip  | gzip |  | ✅  |
| `sendResponseCodeNNN` | br  | br |  |  ✅ |
| `sendResponseCodeNNN` | deflate |  identity | no response, sends a 406 unsupported content encoding |  ✅ |

pure go Brotli encoder: https://github.com/andybalholm/brotli

Using pure go implementation above 32MB of brotli encoding takes 1s. This is not good, bug here: https://github.com/andybalholm/brotli/issues/26


New bench results with better tests. Gzip at Level 1, still outperforms Brotli Level 1 by 10-20x:

```
BenchmarkBrotliEncode128B-16                      151209              7346 ns/op
BenchmarkBrotliDecode128B-16                      384487              3092 ns/op
BenchmarkBrotliEncode1KB-16                        77835             15407 ns/op
BenchmarkBrotliDecode1KB-16                        61219             19007 ns/op
BenchmarkBrotliEncode64KB-16                        2821            404594 ns/op
BenchmarkBrotliDecode64KB-16                        1552            699859 ns/op
BenchmarkBrotliEncode128KB-16                       1551            783674 ns/op
BenchmarkBrotliDecode128KB-16                        876           1385521 ns/op
BenchmarkBrotliEncode1MB-16                          208           5854766 ns/op
BenchmarkBrotliDecode1MB-16                          100          10975571 ns/op 1ms
BenchmarkBrotliEncode2MB-16                           96          11399612 ns/op
BenchmarkBrotliDecode2MB-16                           56          21253028 ns/op
BenchmarkBrotliEncode4MB-16                           45          23680694 ns/op
BenchmarkBrotliDecode4MB-16                           27          41686224 ns/op
BenchmarkBrotliEncode8MB-16                           26          45554311 ns/op
BenchmarkBrotliDecode8MB-16                           14          81448290 ns/op
BenchmarkBrotliEncode16MB-16                          12          92866516 ns/op
BenchmarkBrotliDecode16MB-16                           7         163195457 ns/op
BenchmarkBrotliEncode32MB-16                           6         191438516 ns/op 191ms
BenchmarkBrotliDecode32MB-16                           4         325130670 ns/op 325ms
BenchmarkGzip128B-16                             2275616               528.3 ns/op
BenchmarkGunzip128B-16                           2004390               661.4 ns/op
BenchmarkGzip1KB-16                              1000000              1003 ns/op
BenchmarkGunzip1KB-16                            1230123               998.2 ns/op
BenchmarkGzip64KB-16                               63741             19925 ns/op
BenchmarkGunzip64KB-16                             20432             57806 ns/op
BenchmarkGzip128KB-16                              20678             55826 ns/op
BenchmarkGunzip128KB-16                             9733            119152 ns/op
BenchmarkGzip1MB-16                                 1572            688862 ns/op
BenchmarkGunzip1MB-16                               1317           1148006 ns/op
BenchmarkGzip2MB-16                                  796           1412098 ns/op
BenchmarkGunzip2MB-16                                728           1558002 ns/op
BenchmarkGzip4MB-16                                  418           2766048 ns/op
BenchmarkGunzip4MB-16                                421           2848347 ns/op
BenchmarkGzip8MB-16                                  195           6158078 ns/op
BenchmarkGunzip8MB-16                                223           5928380 ns/op
BenchmarkGzip16MB-16                                 100          12778230 ns/op 12ms
BenchmarkGunzip16MB-16                               100          10696559 ns/op 10ms
BenchmarkGzip32MB-16                                  72          23865599 ns/op 23ms
BenchmarkGunzip32MB-16                                58          21278707 ns/op 21ms
```

Suggest If both encoding codecs are accepted by user agent, favour gzip for runtime performance reasons.

Widening the scope of this ticket to include support for content-encoding: `flate` and possibly `compress` to support RFC 7231. The current implementation makes no sense, it simply switches between identity and gzip and only passes through all other content encodings. We should support older upstream servers because this isn't safe.

![image](https://user-images.githubusercontent.com/7231277/153683920-a5283cfa-de94-4aae-9877-344eb171e8b7.png)


![image](https://user-images.githubusercontent.com/7231277/153684141-79760da6-7ea8-4324-ba72-31dc926c7cd7.png)


# JSON Compression Ratio Benchmarks
## 1010B 

| Package | L1 | L2 | L3 | L4 | L5 | L6 | L7 | L8 | L9 | L10 | L11 |
|-|-|-|-|-|-|-|-|-|-|-|-|
| [klauspost/compress/gzip](https://github.com/klauspost/compress) |  0.52 |  0.49 | 0.48 | 0.48 | 0.47 | 0.46 | 0.46 | 0.46 | 0.46 | n/a | n/a|
| [andybalhom/brotli](https://github.com/andybalhom/brotli) | 0.50 | 0.47 | 0.45 | 0.45 | 0.43 | 0.43 |  0.42 | 0.42 | 0.42 | 0.40 | 0.39 |
| [klauspost/compress/flate](https://github.com/klauspost/compress) | 0.50 | 0.48 | 0.46 | 0.46 | 0.45 | 0.45 | 0.45 | 0.45 | 0.45 | 0.45 | n/a |  n/a |

## 24311B 

| Package | L1 | L2 | L3 | L4 | L5 | L6 | L7 | L8 | L9 | L10 | L11 |
|-|-|-|-|-|-|-|-|-|-|-|-|
| [klauspost/compress/gzip](https://github.com/klauspost/compress) |  0. |  0. | 0. | 0. | 0. | 0. | 0. | 0. | 0. | n/a | n/a|
| [andybalhom/brotli](https://github.com/andybalhom/brotli) | 0.19 | 0.17 | 0.16 | 0.16 | 0.15 | 0.15 |  0.15 | 0.15 | 0.15 | 0.15 | 0.14 | 0.14 |
| [klauspost/compress/flate](https://github.com/klauspost/compress) | 0.19 | 0.18 | 0.19 | 0.17 | 0.16 | 0.16 | 0.16 | 0.16 | 0.16 | n/a |  n/a |

## 169892B 

| Package | L1 | L2 | L3 | L4 | L5 | L6 | L7 | L8 | L9 | L10 | L11 |
|-|-|-|-|-|-|-|-|-|-|-|-|
| [klauspost/compress/gzip](https://github.com/klauspost/compress) |  0.19 |  0.18 | 0.18 | 0.18 | 0.18 | 0.17 | 0.18 | 0.17 | 0.17 | n/a | n/a|
| [andybalhom/brotli](https://github.com/andybalhom/brotli) | 0.18 | 0.17 | 0.17 | 0.16 | 0.16 | 0.16 |  0.16 | 0.16 | 0.16 | 0.14 | 0.14 |
| [klauspost/compress/flate](https://github.com/klauspost/compress) | 0.19 | 0.18 | 0.18 | 0.18 | 0.18 | 0.17 | 0.18 | 0.17 | 0.17 | n/a |  n/a |

Keeping all algorithms at Level 1, incremental compression is not reducing bytes signifificantly.

https://github.com/andybalhom/brotli -> https://github.com/andybalholm/brotli